/*twitter's bootstrap v 2.0.2*/

/* ============================== */
/* ! Default Layout   */
/* ============================== */

/* @font-face kit by Fonts2u (http://www.fonts2u.com) */
@font-face {
	font-family:"SSF4 ABUKET";
	src:url("SSF4_ABUKET.eot?") format("eot"),url("SSF4_ABUKET.woff") format("woff"),url("SSF4_ABUKET.ttf") format("truetype"),url("SSF4_ABUKET.svg#") format("svg");
	font-weight:normal;
	font-style:normal;
}
h1{font-family: "SSF4 ABUKET"; font-size: 22px;}
#portal-logo{
    margin: 0;
    img {
      max-width: 100%;
    }
}
#headline{
    font-family: "SSF4 ABUKET";
    font-size: 30px;
    font-weight: bold;
}
#portal-globalnav {
    clear:none;
    li a{
        padding-left: 48px!important;
        min-width: 5em;
        width: 5em;
    }
    #portaltab-cours-de-capoeira a{
        background: 3px -3px url('../images/icons.png') no-repeat;
    }
    #portaltab-actualites a{
        background: 3px -137px url('../images/icons.png') no-repeat;
    }
    #portaltab-evenements a{
        background: 3px -70px url('../images/icons.png') no-repeat;
    }
    #portaltab-albums-photos a{
        background: 3px -195px url('../images/icons.png') no-repeat;
    }
    #portaltab-videos a{
        background: 3px -334px url('../images/icons.png') no-repeat;
    }
    #portaltab-documentation a{
        background: 3px -268px url('../images/icons.png') no-repeat;
    }
    #portaltab-contactez-nous a{
        background: 3px -404px url('../images/icons.png') no-repeat;
    }
}

.template-folder_full_view #portlets-below #socialtools{
    display:none;
}

#header-ban{
  border: 1px solid black;
  font-size: 80%;
}
.header-ban-title{font-weight: bold;}
#header-ban .span3{
  margin-right: -1px;
}
#header-ban-wrapper li{
    display: block;
}
#content .flexslider{
    ul.slides{
      list-style-type: none;
      margin-left: 0;
      > li > img{
        width: 100%;
      }
    }
    .caption-title{
      font-size: 26px;
      font-weight: bold;
    }
    .caption-link a{
      color: White!important;
      font-weight: bold;
    }
    .flex-caption{
      width: 60%;
      left: auto;
      right: 0;
      
    }
}
#content{
  p.chant{
    
  }
  p.chant-coro{
    font-weight: bold;
    padding-left: 300px;
  }
}
.portletStaticText img{
    max-width: 100%;
}
#portal-footer-wrapper{
background-image: linear-gradient(bottom, rgb(102,102,102) 28%, rgb(189,189,189) 64%);
background-image: -o-linear-gradient(bottom, rgb(102,102,102) 28%, rgb(189,189,189) 64%);
background-image: -moz-linear-gradient(bottom, rgb(102,102,102) 28%, rgb(189,189,189) 64%);
background-image: -webkit-linear-gradient(bottom, rgb(102,102,102) 28%, rgb(189,189,189) 64%);
background-image: -ms-linear-gradient(bottom, rgb(102,102,102) 28%, rgb(189,189,189) 64%);

background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.28, rgb(102,102,102)),
    color-stop(0.64, rgb(189,189,189))
);
  .span12{
    padding: 1em 0;
    #portal-footer-links li{
      display: block;
    }
  }
  #origemnegra img{
    width: 100%;
  }
  #portal-siteactions a{
    color: White!important;
  }
}
#viewlet-below-content-body{
    #portlets-below #portletsBelowContent{
      .portletWrapper{width: 100%;}
      .portlet{
        max-width: 100%;
      }
    }
}
.fluid-width-video-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
}
.oembed-video{
    width: 100%;
    height: auto;
}
td.enfant{
	background-color: yellow;
}
td.adulte{
    background-color: orange;
}
#portlets-footer{
	.portlet{
	   width: 250px;
	   float: left;
	}
}