/*twitter's bootstrap v 2.0.2*/
@import "variables.less";
@import "mixins.less";
@import "layouts.less";
@import "grid.less";
@import "responsive.less";

/* ============================== */
/* ! Default Layout   */
/* ============================== */

#portal-logo{
    margin: 0;
    img {
      max-width: 100%;
    }
}
#headline{
    font-size: 30px;
    font-weight: bold;
}
#portal-globalnav {
    clear:none;
    li a{
        padding-left: 48px!important;
        min-width: 5em;
        width: 5em;
    }
    #portaltab-cours-de-capoeira a{
        background: 3px -3px url('../images/icons.png') no-repeat;
    }
    #portaltab-actualites a{
        background: 3px -137px url('../images/icons.png') no-repeat;
    }
    #portaltab-evenements a{
        background: 3px -70px url('../images/icons.png') no-repeat;
    }
    #portaltab-albums-photos a{
        background: 3px -195px url('../images/icons.png') no-repeat;
    }
    #portaltab-videos a{
        background: 3px -334px url('../images/icons.png') no-repeat;
    }
    #portaltab-documentation a{
        background: 3px -268px url('../images/icons.png') no-repeat;
    }
    #portaltab-contactez-nous a{
        background: 3px -404px url('../images/icons.png') no-repeat;
    }
}

.template-folder_full_view #portlets-below #socialtools{
    display:none;
}

#header-ban{
  border: 1px solid black;
  .border-radius(5px);
  font-size: 80%;
}
.header-ban-title{font-weight: bold;}
#header-ban .span3{
  margin-right: -1px;
}
#header-ban-wrapper li{
    display: block;
}
#content .flexslider{
    ul.slides{
      list-style-type: none;
      margin-left: 0;
      > li > img{
        width: 100%;
      }
    }
    .caption-title{
      font-size: 26px;
      font-weight: bold;
    }
    .caption-link a{
      color: White!important;
      font-weight: bold;
    }
    .flex-caption{
      width: 60%;
      left: auto;
      right: 0;
      
    }
}
.portletStaticText img{
    max-width: 100%;
}
#portal-footer-wrapper .span12{
    padding: 1em 0;
    #portal-footer-links li{
      display: block;
    }
}
#viewlet-below-content-body{
    #portlets-below #portletsBelowContent{
      .portletWrapper{width: 100%;}
      .portlet{
        width: 100%;
      }
    }
}
.fluid-width-video-wrapper {
    width: 100%;
    position: relative;
    padding: 0;
}
.oembed-video{
    width: 100%;
    height: auto;
}
/*****************
 0 -> 480
 *****************/
@media (max-width: 480px) {
  /* make some content disappear*/
  #socialtools,
  #portal-breadcrumbs,
  #content div.documentByLine,
  .managePortletsLink,
  #portal-globalnav{
    display: none;
  }
  /*zoom some font sizes*/
  #footer li{
    font-size: 15px;
    padding-top:5px;
  }
}
/*****************
 320 -> 480
 *****************/
@media (min-width: 320px) and (max-width: 480px){
  #nolivesearchGadget{
    width: 228px;
  }
}
/*****************
0 -> 768
 *****************/
@media (max-width: 768px){
  #portal-logo{
    display: block;
    img{
        display: block;
        position: static;
    }
  }
}
/*****************
 0 -> 980
 *****************/
@media (max-width: 980px) {
  #globalnav-wrapper,
  #portal-personaltools,
  #header-ban-wrapper,
  #edit-bar{
    display:none;
  }
  #content .flexslider .flex-caption{
      width: 96%;
      .caption-title,
      .caption-description{
        display:none
      }
  }
}

/*****************
 480 -> 768
 *****************/
@media (min-width: 480px) and (max-width: 768px) {
  #footer li{
    font-size: 13px;
    padding-top: 3px;
  }
  .portletStaticText img {
    width: 80%;
    margin-left: 10%;
  }
}
/*****************
 768 -> 980
 *****************/
@media (min-width: 768px) and (max-width: 980px) {
  #footer li{
    padding-top: 3px;
  }
}

/*****************
 1200 -> ++
 *****************/
@media (min-width: 1200px) {
  #portal-globalnav {
    li a{
        min-width: 8em;
        width: auto;
    }
  }
}