/*twitter's bootstrap v 2.0.2*/
/* ============================== */
/* ! Default Layout   */
/* ============================== */
/* @font-face kit by Fonts2u (http://www.fonts2u.com)
@font-face {
	font-family:"SSF4 ABUKET";
	src:url("SSF4_ABUKET.eot?") format("eot"),url("SSF4_ABUKET.woff") format("woff"),url("SSF4_ABUKET.ttf") format("truetype"),url("SSF4_ABUKET.svg#") format("svg");
	font-weight:normal;
	font-style:normal;
}*/
h1 {
  /*    font-family: 'Bangers', cursive;
    font-size: 33px;*/

  font-family: 'BenchNine', sans-serif;
  font-size: 30px;
  letter-spacing: 1px;
}
.portletHeader {
  font-family: 'BenchNine', sans-serif;
  font-size: 15px;
  letter-spacing: 1px;
}
dl.portlet dt,
div.portletAssignments div.portletHeader {
  background-color: #0a6bb2;
  color: White;
  border: 3px solid #ffd206;
}
dl.portlet dt a,
div.portletAssignments div.portletHeader a {
  color: White!important;
}
#portal-logo {
  margin: 0;
}
#portal-logo img {
  max-width: 100%;
}
#headline {
  /*font-family: "SSF4 ABUKET";*/

  font-family: 'Bangers', cursive;
  font-size: 55px;
  letter-spacing: 5px;
  font-weight: bold;
  text-transform: uppercase;
}
#subline {
  padding-top: 10px;
  padding-bottom: 40px;
}
#banner-img {
  width: 100%;
}
#portal-globalnav {
  clear: none;
}
#portal-globalnav li a {
  padding-left: 48px!important;
  min-width: 5em;
  width: 5em;
}
#portal-globalnav #portaltab-cours-de-capoeira a {
  background: 3px -3px url('../images/icons.png') no-repeat;
}
#portal-globalnav #portaltab-actualites a {
  background: 3px -137px url('../images/icons.png') no-repeat;
}
#portal-globalnav #portaltab-evenements a {
  background: 3px -70px url('../images/icons.png') no-repeat;
}
#portal-globalnav #portaltab-albums-photos a {
  background: 3px -195px url('../images/icons.png') no-repeat;
}
#portal-globalnav #portaltab-videos a {
  background: 3px -334px url('../images/icons.png') no-repeat;
}
#portal-globalnav #portaltab-documentation a {
  background: 3px -268px url('../images/icons.png') no-repeat;
}
#portal-globalnav #portaltab-contactez-nous a {
  background: 3px -404px url('../images/icons.png') no-repeat;
}
.template-folder_full_view #portlets-below #socialtools {
  display: none;
}
#header-ban {
  border: 1px solid black;
  font-size: 80%;
}
.header-ban-title {
  font-weight: bold;
}
#header-ban .span3 {
  margin-right: -1px;
}
#header-ban-wrapper li {
  display: block;
}
#content .flexslider ul.slides {
  list-style-type: none;
  margin-left: 0;
}
#content .flexslider ul.slides > li > img {
  width: 100%;
}
#content .flexslider .caption-title {
  font-size: 26px;
  font-weight: bold;
}
#content .flexslider .caption-link a {
  color: White!important;
  font-weight: bold;
}
#content .flexslider .flex-caption {
  width: 60%;
  left: auto;
  right: 0;
}
#content p.chant-coro {
  font-weight: bold;
  padding-left: 300px;
}
.portletStaticText img {
  max-width: 100%;
}
#portal-footer-wrapper {
  background-image: linear-gradient(bottom, #666666 28%, #bdbdbd 64%);
  background-image: -o-linear-gradient(bottom, #666666 28%, #bdbdbd 64%);
  background-image: -moz-linear-gradient(bottom, #666666 28%, #bdbdbd 64%);
  background-image: -webkit-linear-gradient(bottom, #666666 28%, #bdbdbd 64%);
  background-image: -ms-linear-gradient(bottom, #666666 28%, #bdbdbd 64%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.28, #666666), color-stop(0.64, #bdbdbd));
}
#portal-footer-wrapper .span12 {
  padding: 1em 0;
}
#portal-footer-wrapper .span12 #portal-footer-links li {
  display: block;
}
#portal-footer-wrapper #origemnegra img {
  width: 100%;
}
#portal-footer-wrapper #portal-siteactions a {
  color: White!important;
}
#viewlet-below-content-body #portlets-below #portletsBelowContent .portletWrapper {
  width: 100%;
}
#viewlet-below-content-body #portlets-below #portletsBelowContent .portlet {
  max-width: 100%;
}
.fluid-width-video-wrapper {
  width: 100%;
  position: relative;
  padding: 0;
}
.oembed-video {
  width: 100%;
  height: auto;
}
td.enfant {
  background-color: yellow;
}
td.adulte {
  background-color: orange;
}
#portlets-footer .portlet {
  width: 250px;
  float: left;
}
#portal-personaltools {
  margin-bottom: 12px;
}
#portal-personaltools a {
  margin-left: 20px;
  margin-right: 20px;
}
#content .eventDetails {
  width: initial;
  max-width: 20em;
}
#content .eventDetails table {
  margin-bottom: 0;
}
/* SYLVAIN LANANTAISE PROPOSALE */body {
  background-image: url('../images/bgbody.png');
}
.container_12 {
  background-color: white;
}
#header {
  background-image: url('../images/header.png');
  background-position: top center;
  background-size: contain;
  background-repeat: no-repeat;
}
#headline-wrapper {
  height: 252px;
}
#headline {
  display: none;
  /*en attendant d avoir la version decoupee*/

}
#portal-globalnav {
  background-color: transparent;
}
#portal-logo img {
  margin-top: 22px;
  margin-left: 33px;
}
/* /Proposale */