[buildout]
extensions=mr.developer buildout-versions
extends = https://github.com/collective/buildout.plonetest/raw/master/test-4.2.x.cfg
extends-cache= etc/extends-cache

package-name = plonetheme.capoeiranantes

[versions]
buildout-versions = 1.4
plone.app.jquery = 1.7.2
